In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from multiprocessing import  Pool

In [2]:
item_data = pd.read_csv('data/train/item_data.csv')
item_data['brand_type'] = item_data['brand_type'].replace({'Established': 1, 'Local': 0})
item_data.head()

   item_id  brand  brand_type       category
0        1      1           1        Grocery
1        2      1           1  Miscellaneous
2        3     56           0         Bakery
3        4     56           0        Grocery
4        5     56           0        Grocery

In [3]:
campaign_data = pd.read_csv('data/train/campaign_data.csv', 
                            parse_dates=['start_date', 'end_date'], dayfirst=True)
campaign_data['campaign_type'] = campaign_data['campaign_type'].replace({'X': 0, 'Y': 1})
campaign_data['duration'] = (campaign_data['end_date'] - campaign_data['start_date']).dt.days
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
campaign_id      28 non-null int64
campaign_type    28 non-null int64
start_date       28 non-null datetime64[ns]
end_date         28 non-null datetime64[ns]
duration         28 non-null int64
dtypes: datetime64[ns](2), int64(3)
memory usage: 1.2 KB

In [4]:
campaign_data_2 = campaign_data.set_index('campaign_id')
campaign_data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 24 to 26
Data columns (total 4 columns):
campaign_type    28 non-null int64
start_date       28 non-null datetime64[ns]
end_date         28 non-null datetime64[ns]
duration         28 non-null int64
dtypes: datetime64[ns](2), int64(2)
memory usage: 1.1 KB

In [5]:
def get_marital_status(row):
    na_row = row.isna()
    if not na_row['marital_status']:
        return row['marital_status']
    return 'Married' if row['family_size'] - row['no_of_children'] > 1 else 'Single'

customer_data = pd.read_csv('data/train/customer_demographics.csv')
customer_data['family_size'] = customer_data['family_size'].str.replace('+','').astype('int')
customer_data['no_of_children'] = customer_data['no_of_children'].fillna('0').str.replace('+','').astype('int')
customer_data['marital_status'] = customer_data.apply(get_marital_status, axis=1)
customer_data['marital_status'] = campaign_data['marital_status'].replace({'Single': 0, 'Married': 1})

customer_data.info()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,0,4
1,6,46-55,Married,0,2,0,5
2,7,26-35,Married,0,3,1,3
3,8,26-35,Married,0,4,2,6
4,10,46-55,Single,0,1,0,5

In [9]:
transaction_data = pd.read_csv('data/train/customer_transaction_data.csv', parse_dates=['date'])
transaction_data['total_discount'] = transaction_data['coupon_discount'] + transaction_data['other_discount']
transaction_data['buying_price'] = transaction_data['selling_price'] + transaction_data['other_discount']
transaction_data['selling_price_pq'] = transaction_data['selling_price'] / transaction_data['quantity']
transaction_data['other_discount_pq'] = transaction_data['other_discount'] / transaction_data['quantity']
transaction_data['coupon_discount_pq'] = transaction_data['coupon_discount'] / transaction_data['quantity']
transaction_data['total_discount_pq'] = transaction_data['coupon_discount_pq'] + transaction_data['other_discount_pq']
transaction_data['buying_price_pq'] = transaction_data['selling_price_pq'] + transaction_data['other_discount_pq']
transaction_data['date'] = pd.to_datetime(transaction_data['date'])
transaction_data = transaction_data.merge(item_data, on='item_id', how='left')
transaction_data = transaction_data.set_index(['customer_id','date']).sort_index()
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1324566 entries, (1, 2012-02-21 00:00:00) to (1582, 2013-06-25 00:00:00)
Data columns (total 15 columns):
item_id               1324566 non-null int64
quantity              1324566 non-null int64
selling_price         1324566 non-null float64
other_discount        1324566 non-null float64
coupon_discount       1324566 non-null float64
total_discount        1324566 non-null float64
buying_price          1324566 non-null float64
selling_price_pq      1324566 non-null float64
other_discount_pq     1324566 non-null float64
coupon_discount_pq    1324566 non-null float64
total_discount_pq     1324566 non-null float64
buying_price_pq       1324566 non-null float64
brand                 1324566 non-null int64
brand_type            1324566 non-null int64
category              1324566 non-null object
dtypes: float64(10), int64(4), object(1)
memory usage: 156.7+ MB

In [13]:
customer_history = transaction_data.reset_index().groupby('customer_id').agg({
    'item_id': ['nunique', 'count'],
    'quantity': 'sum',
    'selling_price': 'mean',
    'buying_price': 'mean',
    'other_discount': 'mean',
    'coupon_discount': 'mean',
    'total_discount': 'mean',
    'selling_price_pq': 'mean',
    'buying_price_pq': 'mean',
    'other_discount_pq': 'mean',
    'coupon_discount_pq': 'mean',
    'total_discount_pq': 'mean'
})
customer_history.columns = ['overall_unique_items', 'overall_items', 'overall_quantity', 'overall_sprice', 'overall_bprice', 'overall_odiscount', 'overall_cdiscount', 'overall_tdiscount', 'overall_sprice_pq', 'overall_bprice_pq', 'overall_odiscount_pq', 'overall_cdiscount_pq', 'overall_tdiscount_pq']
customer_history = customer_history.reset_index()
customer_history.head()

,customer_id,overall_unique_items,overall_items,overall_quantity,overall_sprice,overall_bprice,overall_odiscount,overall_cdiscount,overall_tdiscount,overall_sprice_pq,overall_bprice_pq,overall_odiscount_pq,overall_cdiscount_pq,overall_tdiscount_pq
0,1,463,1048,1227,94.001842,77.751460,-16.250382,-2.019876,-18.270258,84.632943,71.795406,-12.837537,-1.748991,-14.586528
1,2,352,419,474,102.864033,86.033604,-16.830430,-0.595084,-17.425513,94.373588,80.941393,-13.432195,-0.453397,-13.885592
2,3,406,705,8163,103.617404,80.903177,-22.714227,-3.091546,-25.805773,71.007598,56.932745,-14.074853,-1.885766,-15.960619
3,4,125,220,280,154.423727,141.118318,-13.305409,-0.404773,-13.710182,129.373114,120.489458,-8.883656,-0.080955,-8.964611
4,5,490,792,93353,130.827146,117.169230,-13.657917,-0.114684,-13.772601,104.222145,92.961449,-11.260696,-0.114684,-11.375381

In [7]:
coupon_item = pd.read_csv('data/train/coupon_item_mapping.csv')
coupon_item = coupon_item.merge(item_data, how='left', on='item_id')
coupon_item.head()

   coupon_id  item_id  brand  brand_type category
0        105       37     56           0  Grocery
1        107       75     56           0  Grocery
2        494       76    209           1  Grocery
3        522       77    278           1  Grocery
4        518       77    278           1  Grocery

In [8]:
coupon_item_2 = coupon_item.set_index('coupon_id')
coupon_item_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92663 entries, 105 to 31
Data columns (total 4 columns):
item_id       92663 non-null int64
brand         92663 non-null int64
brand_type    92663 non-null int64
category      92663 non-null object
dtypes: int64(3), object(1)
memory usage: 3.5+ MB

In [9]:
def most_frequent(s):
    return s.value_counts().index[0]

def least_frequent(s):
    return s.value_counts().index[-1]

def most_frequent_count(s):
    return s.value_counts().values[0]

def least_frequent_count(s):
    return s.value_counts().values[-1]

coupon_data = coupon_item.groupby('coupon_id').agg({
    'item_id': ['nunique'],
    'brand': ['nunique', most_frequent, least_frequent, most_frequent_count, least_frequent_count],
    'brand_type': ['nunique', most_frequent, least_frequent, most_frequent_count, least_frequent_count],
    'category': ['nunique', most_frequent, least_frequent, most_frequent_count, least_frequent_count]
})
coupon_data.columns = ['c_item_id_count', 'c_brand_count', 'c_brand_freq', 'c_brand_rare', 
                       'c_brand_freq_count', 'c_brand_rare_count', 'c_brand_type_count', 'c_brand_type_freq', 
                       'c_brand_type_rare', 'c_brand_type_freq_count', 'c_brand_type_rare_count', 
                       'c_category_count', 'c_category_freq', 'c_category_rare', 'c_category_freq_count', 
                       'c_category_rare_count']
coupon_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1116
Data columns (total 16 columns):
c_item_id_count            1116 non-null int64
c_brand_count              1116 non-null int64
c_brand_freq               1116 non-null int64
c_brand_rare               1116 non-null int64
c_brand_freq_count         1116 non-null int64
c_brand_rare_count         1116 non-null int64
c_brand_type_count         1116 non-null int64
c_brand_type_freq          1116 non-null int64
c_brand_type_rare          1116 non-null int64
c_brand_type_freq_count    1116 non-null int64
c_brand_type_rare_count    1116 non-null int64
c_category_count           1116 non-null int64
c_category_freq            1116 non-null object
c_category_rare            1116 non-null object
c_category_freq_count      1116 non-null int64
c_category_rare_count      1116 non-null int64
dtypes: int64(14), object(2)
memory usage: 148.2+ KB

In [10]:
train_data = pd.read_csv('data/train/train.csv')
train_data.shape

(78369, 5)

In [11]:
test_data = pd.read_csv('data/test/test.csv')
test_data.shape

(50226, 4)

In [12]:
columns = train_data.columns[train_data.columns != 'redemption_status']
total_data = train_data[columns].append(test_data, sort=True)
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128595 entries, 0 to 50225
Data columns (total 4 columns):
campaign_id    128595 non-null int64
coupon_id      128595 non-null int64
customer_id    128595 non-null int64
id             128595 non-null int64
dtypes: int64(4)
memory usage: 4.9 MB

In [13]:
total_data = total_data.merge(campaign_data, on='campaign_id', how='left')
total_data = total_data.merge(customer_data, on='customer_id', how='left')
total_data = total_data.merge(coupon_data, on='coupon_id', how='left')
total_data = total_data.merge(customer_history, on='customer_id', how='left')
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128595 entries, 0 to 128594
Data columns (total 30 columns):
campaign_id                128595 non-null int64
coupon_id                  128595 non-null int64
customer_id                128595 non-null int64
id                         128595 non-null int64
campaign_type              128595 non-null int64
start_date                 128595 non-null datetime64[ns]
end_date                   128595 non-null datetime64[ns]
duration                   128595 non-null int64
age_range                  74600 non-null object
marital_status             74600 non-null object
rented                     74600 non-null float64
family_size                74600 non-null float64
no_of_children             74600 non-null float64
income_bracket             74600 non-null float64
c_item_id_count            128595 non-null int64
c_brand_count              128595 non-null int64
c_brand_freq               128595 non-null int64
c_brand_rare               128595 non-null int64
c_brand_freq_count         128595 non-null int64
c_brand_rare_count         128595 non-null int64
c_brand_type_count         128595 non-null int64
c_brand_type_freq          128595 non-null int64
c_brand_type_rare          128595 non-null int64
c_brand_type_freq_count    128595 non-null int64
c_brand_type_rare_count    128595 non-null int64
c_category_count           128595 non-null int64
c_category_freq            128595 non-null object
c_category_rare            128595 non-null object
c_category_freq_count      128595 non-null int64
c_category_rare_count      128595 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(20), object(4)
memory usage: 30.4+ MB

In [14]:
def parallelize_dataframe(df, func, n_cores=4):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

range_start_delta = pd.Timedelta('223 days')
range_end_delta = pd.Timedelta('110 days')

def extract_range_features(row):
    start_time = pd.Timestamp(campaign_data_2.loc[row.campaign_id].start_date)
    range_start, range_end = start_time - range_start_delta, start_time - range_end_delta
    items = pd.Series(coupon_item_2.loc[row.coupon_id].item_id)
    
    overall_history = transaction_data.loc[row.customer_id]
    history = overall_history[range_start:range_end]
    overall_coupon_history = overall_history[overall_history.item_id.isin(items)]
    coupon_history = history[history.item_id.isin(items)]
    
    row['overall_coupon_unique_items'] = overall_coupon_history['item_id'].nunique()
    row['range_unique_items'] = history['item_id'].nunique()
    row['range_coupon_unique_items'] = coupon_history['item_id'].nunique()
    
    row['overall_coupon_items'] = overall_coupon_history['item_id'].count()
    row['range_items'] = history['item_id'].count()
    row['range_coupon_items'] = coupon_history['item_id'].count()
    
    row['overall_coupon_quantity'] = overall_coupon_history['quantity'].sum()
    row['range_quantity'] = history['quantity'].sum()
    row['range_coupon_quantity'] = coupon_history['quantity'].sum()
    
    row['overall_coupon_sprice'] = overall_coupon_history['selling_price'].mean()
    row['range_sprice'] = history['selling_price'].mean()
    row['range_coupon_sprice'] = coupon_history['selling_price'].mean()
    
    row['overall_coupon_sprice_pq'] = overall_coupon_history['selling_price_pq'].mean()
    row['range_sprice_pq'] = history['selling_price_pq'].mean()
    row['range_coupon_sprice_pq'] = coupon_history['selling_price_pq'].mean()
    
    row['overall_coupon_bprice'] = overall_coupon_history['buying_price'].mean()
    row['range_bprice'] = history['buying_price'].mean()
    row['range_coupon_bprice'] = coupon_history['buying_price'].mean()
    
    row['overall_coupon_bprice_pq'] = overall_coupon_history['buying_price_pq'].mean()
    row['range_bprice_pq'] = history['buying_price_pq'].mean()
    row['range_coupon_bprice_pq'] = coupon_history['buying_price_pq'].mean()
    
    row['overall_coupon_odiscount'] = overall_coupon_history['other_discount'].mean()
    row['range_odiscount'] = history['other_discount'].mean()
    row['range_coupon_odiscount'] = coupon_history['other_discount'].mean()
    
    row['overall_coupon_odiscount_pq'] = overall_coupon_history['other_discount_pq'].mean()
    row['range_odiscount_pq'] = history['other_discount_pq'].mean()
    row['range_coupon_odiscount_pq'] = coupon_history['other_discount_pq'].mean()
    
    return row

def apply_range_features(df):
    return df.apply(extract_range_features, axis=1)

In [15]:
total_data = parallelize_dataframe(total_data, apply_range_features, n_cores=3)
# total_data = feature_extraction(total_data)
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128595 entries, 0 to 128594
Data columns (total 78 columns):
campaign_id                128595 non-null int64
coupon_id                  128595 non-null int64
customer_id                128595 non-null int64
id                         128595 non-null int64
campaign_type              128595 non-null int64
start_date                 128595 non-null datetime64[ns]
end_date                   128595 non-null datetime64[ns]
duration                   128595 non-null int64
age_range                  74600 non-null object
marital_status             74600 non-null object
rented                     74600 non-null float64
family_size                74600 non-null float64
no_of_children             74600 non-null float64
income_bracket             74600 non-null float64
c_item_id_count            128595 non-null int64
c_brand_count              128595 non-null int64
c_brand_freq               128595 non-null int64
c_brand_rare               128595 non-null int64
c_brand_freq_count         128595 non-null int64
c_brand_rare_count         128595 non-null int64
c_brand_type_count         128595 non-null int64
c_brand_type_freq          128595 non-null int64
c_brand_type_rare          128595 non-null int64
c_brand_type_freq_count    128595 non-null int64
c_brand_type_rare_count    128595 non-null int64
c_category_count           128595 non-null int64
c_category_freq            128595 non-null object
c_category_rare            128595 non-null object
c_category_freq_count      128595 non-null int64
c_category_rare_count      128595 non-null int64
t_item_id_count            128595 non-null int64
t_brand_count              128595 non-null int64
t_brand_freq               128595 non-null int64
t_brand_rare               128595 non-null int64
t_brand_freq_count         128595 non-null int64
t_brand_rare_count         128595 non-null int64
t_brand_type_count         128595 non-null int64
t_brand_type_freq          128595 non-null int64
t_brand_type_rare          128595 non-null int64
t_brand_type_freq_count    128595 non-null int64
t_brand_type_rare_count    128595 non-null int64
t_category_count           128595 non-null int64
t_category_freq            128595 non-null object
t_category_rare            128595 non-null object
t_category_freq_count      128595 non-null int64
t_category_rare_count      128595 non-null int64
min_selling_price          13386 non-null float64
max_selling_price          13386 non-null float64
mean_selling_price         13386 non-null float64
min_other_discount         13386 non-null float64
max_other_discount         13386 non-null float64
mean_other_discount        13386 non-null float64
min_coupon_discount        13386 non-null float64
max_coupon_discount        13386 non-null float64
mean_coupon_discount       13386 non-null float64
min_total_discount         13386 non-null float64
max_total_discount         13386 non-null float64
mean_total_discount        13386 non-null float64
min_selling_price_pq       13386 non-null float64
max_selling_price_pq       13386 non-null float64
mean_selling_price_pq      13386 non-null float64
min_other_discount_pq      13386 non-null float64
max_other_discount_pq      13386 non-null float64
mean_other_discount_pq     13386 non-null float64
min_coupon_discount_pq     13386 non-null float64
max_coupon_discount_pq     13386 non-null float64
mean_coupon_discount_pq    13386 non-null float64
min_total_discount_pq      13386 non-null float64
max_total_discount_pq      13386 non-null float64
mean_total_discount_pq     13386 non-null float64
transc_coupon              128595 non-null float64
transc_other               128595 non-null float64
transc_any                 128595 non-null float64
quantity                   128595 non-null int64
c_transc_coupon            128595 non-null float64
c_transc_other             128595 non-null float64
c_transc_any               128595 non-null float64
c_quantity                 128595 non-null int64
dtypes: datetime64[ns](2), float64(34), int64(36), object(6)
memory usage: 77.5+ MB

In [ ]:
# Deriving more variables from existing
for column in ['unique_items', 'items', 'quantity', 'sprice', 'bprice', 'odiscount', 'cdiscount', 'tdiscount', 'sprice_pq', 'bprice_pq', 'odiscount_pq', 'cdiscount_pq', 'tdiscount_pq']:
    total_data['diff_overall_'+column] = total_data['overall_'+column] - total_data['overall_coupon_'+column]
    total_data['diff_range_diff'+column] = total_data['range_'+column] - total_data['range_coupon_'+column]
    total_data['diff_coupon_'+column] = total_data['overall_coupon_'+column] - total_data['range_coupon_'+column]

In [16]:
test_data = test_data[['id']].merge(total_data, on='id', how='left')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50226 entries, 0 to 50225
Data columns (total 78 columns):
id                         50226 non-null int64
campaign_id                50226 non-null int64
coupon_id                  50226 non-null int64
customer_id                50226 non-null int64
campaign_type              50226 non-null int64
start_date                 50226 non-null datetime64[ns]
end_date                   50226 non-null datetime64[ns]
duration                   50226 non-null int64
age_range                  30939 non-null object
marital_status             30939 non-null object
rented                     30939 non-null float64
family_size                30939 non-null float64
no_of_children             30939 non-null float64
income_bracket             30939 non-null float64
c_item_id_count            50226 non-null int64
c_brand_count              50226 non-null int64
c_brand_freq               50226 non-null int64
c_brand_rare               50226 non-null int64
c_brand_freq_count         50226 non-null int64
c_brand_rare_count         50226 non-null int64
c_brand_type_count         50226 non-null int64
c_brand_type_freq          50226 non-null int64
c_brand_type_rare          50226 non-null int64
c_brand_type_freq_count    50226 non-null int64
c_brand_type_rare_count    50226 non-null int64
c_category_count           50226 non-null int64
c_category_freq            50226 non-null object
c_category_rare            50226 non-null object
c_category_freq_count      50226 non-null int64
c_category_rare_count      50226 non-null int64
t_item_id_count            50226 non-null int64
t_brand_count              50226 non-null int64
t_brand_freq               50226 non-null int64
t_brand_rare               50226 non-null int64
t_brand_freq_count         50226 non-null int64
t_brand_rare_count         50226 non-null int64
t_brand_type_count         50226 non-null int64
t_brand_type_freq          50226 non-null int64
t_brand_type_rare          50226 non-null int64
t_brand_type_freq_count    50226 non-null int64
t_brand_type_rare_count    50226 non-null int64
t_category_count           50226 non-null int64
t_category_freq            50226 non-null object
t_category_rare            50226 non-null object
t_category_freq_count      50226 non-null int64
t_category_rare_count      50226 non-null int64
min_selling_price          6731 non-null float64
max_selling_price          6731 non-null float64
mean_selling_price         6731 non-null float64
min_other_discount         6731 non-null float64
max_other_discount         6731 non-null float64
mean_other_discount        6731 non-null float64
min_coupon_discount        6731 non-null float64
max_coupon_discount        6731 non-null float64
mean_coupon_discount       6731 non-null float64
min_total_discount         6731 non-null float64
max_total_discount         6731 non-null float64
mean_total_discount        6731 non-null float64
min_selling_price_pq       6731 non-null float64
max_selling_price_pq       6731 non-null float64
mean_selling_price_pq      6731 non-null float64
min_other_discount_pq      6731 non-null float64
max_other_discount_pq      6731 non-null float64
mean_other_discount_pq     6731 non-null float64
min_coupon_discount_pq     6731 non-null float64
max_coupon_discount_pq     6731 non-null float64
mean_coupon_discount_pq    6731 non-null float64
min_total_discount_pq      6731 non-null float64
max_total_discount_pq      6731 non-null float64
mean_total_discount_pq     6731 non-null float64
transc_coupon              50226 non-null float64
transc_other               50226 non-null float64
transc_any                 50226 non-null float64
quantity                   50226 non-null int64
c_transc_coupon            50226 non-null float64
c_transc_other             50226 non-null float64
c_transc_any               50226 non-null float64
c_quantity                 50226 non-null int64
dtypes: datetime64[ns](2), float64(34), int64(36), object(6)
memory usage: 30.3+ MB

In [17]:
test_data.to_csv('data/test/test_feature.csv', index=False)

In [18]:
train_data = train_data[['id','redemption_status']].merge(total_data, on='id', how='left')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78369 entries, 0 to 78368
Data columns (total 79 columns):
id                         78369 non-null int64
redemption_status          78369 non-null int64
campaign_id                78369 non-null int64
coupon_id                  78369 non-null int64
customer_id                78369 non-null int64
campaign_type              78369 non-null int64
start_date                 78369 non-null datetime64[ns]
end_date                   78369 non-null datetime64[ns]
duration                   78369 non-null int64
age_range                  43661 non-null object
marital_status             43661 non-null object
rented                     43661 non-null float64
family_size                43661 non-null float64
no_of_children             43661 non-null float64
income_bracket             43661 non-null float64
c_item_id_count            78369 non-null int64
c_brand_count              78369 non-null int64
c_brand_freq               78369 non-null int64
c_brand_rare               78369 non-null int64
c_brand_freq_count         78369 non-null int64
c_brand_rare_count         78369 non-null int64
c_brand_type_count         78369 non-null int64
c_brand_type_freq          78369 non-null int64
c_brand_type_rare          78369 non-null int64
c_brand_type_freq_count    78369 non-null int64
c_brand_type_rare_count    78369 non-null int64
c_category_count           78369 non-null int64
c_category_freq            78369 non-null object
c_category_rare            78369 non-null object
c_category_freq_count      78369 non-null int64
c_category_rare_count      78369 non-null int64
t_item_id_count            78369 non-null int64
t_brand_count              78369 non-null int64
t_brand_freq               78369 non-null int64
t_brand_rare               78369 non-null int64
t_brand_freq_count         78369 non-null int64
t_brand_rare_count         78369 non-null int64
t_brand_type_count         78369 non-null int64
t_brand_type_freq          78369 non-null int64
t_brand_type_rare          78369 non-null int64
t_brand_type_freq_count    78369 non-null int64
t_brand_type_rare_count    78369 non-null int64
t_category_count           78369 non-null int64
t_category_freq            78369 non-null object
t_category_rare            78369 non-null object
t_category_freq_count      78369 non-null int64
t_category_rare_count      78369 non-null int64
min_selling_price          6655 non-null float64
max_selling_price          6655 non-null float64
mean_selling_price         6655 non-null float64
min_other_discount         6655 non-null float64
max_other_discount         6655 non-null float64
mean_other_discount        6655 non-null float64
min_coupon_discount        6655 non-null float64
max_coupon_discount        6655 non-null float64
mean_coupon_discount       6655 non-null float64
min_total_discount         6655 non-null float64
max_total_discount         6655 non-null float64
mean_total_discount        6655 non-null float64
min_selling_price_pq       6655 non-null float64
max_selling_price_pq       6655 non-null float64
mean_selling_price_pq      6655 non-null float64
min_other_discount_pq      6655 non-null float64
max_other_discount_pq      6655 non-null float64
mean_other_discount_pq     6655 non-null float64
min_coupon_discount_pq     6655 non-null float64
max_coupon_discount_pq     6655 non-null float64
mean_coupon_discount_pq    6655 non-null float64
min_total_discount_pq      6655 non-null float64
max_total_discount_pq      6655 non-null float64
mean_total_discount_pq     6655 non-null float64
transc_coupon              78369 non-null float64
transc_other               78369 non-null float64
transc_any                 78369 non-null float64
quantity                   78369 non-null int64
c_transc_coupon            78369 non-null float64
c_transc_other             78369 non-null float64
c_transc_any               78369 non-null float64
c_quantity                 78369 non-null int64
dtypes: datetime64[ns](2), float64(34), int64(37), object(6)
memory usage: 47.8+ MB

In [19]:
train_data.to_csv('data/train/train_feature.csv', index=False)