In [1]:
import pandas as pd
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import roc_auc_score
import operator

In [2]:
target = 'redemption_status'

features = ['customer_id', 'duration', 'marital_status', 'no_of_children', 'income_bracket', 'c_brand_freq', 'c_brand_rare', 'c_brand_freq_count', 'c_brand_rare_count', 'c_brand_type_freq', 'c_brand_type_rare', 'c_brand_type_freq_count', 'c_category_freq_count', 'c_category_rare_count', 't_item_id_count', 't_brand_count', 't_brand_rare', 't_brand_freq_count', 't_brand_type_freq', 't_brand_type_freq_count', 't_brand_type_rare_count', 't_category_count', 't_category_freq_count', 't_category_rare_count', 'mean_selling_price', 'mean_other_discount', 'mean_coupon_discount', 'mean_total_discount', 'mean_selling_price_pq', 'mean_other_discount_pq', 'mean_coupon_discount_pq', 'mean_total_discount_pq', 'transc_coupon', 'transc_other', 'transc_any', 'c_transc_coupon', 'c_transc_other', 'c_transc_any', 'c_quantity', 'brand_type_freq', 'brand_type_rare', 'category_freq', 'category_rare']

categorical_columns = ['coupon_id', 'customer_id', 'campaign_type', 'age_range', 'marital_status', 'rented', 'family_size', 'no_of_children', 'income_bracket', 'c_brand_count', 'c_brand_freq', 'c_brand_rare', 'c_brand_type_freq', 'c_brand_type_rare', 'c_category_count', 'c_category_freq', 'c_category_rare', 't_brand_freq', 't_brand_rare', 't_brand_type_freq', 't_brand_type_rare', 't_category_freq', 't_category_rare', 'brand_freq', 'brand_rare', 'brand_type_freq', 'brand_type_rare', 'category_freq', 'category_rare']

merge_columns = ['brand_freq', 'brand_rare', 'brand_type_freq', 'brand_type_rare', 'category_freq', 'category_rare']

In [3]:
def preprocess(trainset, testset):        
    dataset = trainset.append(testset, sort=False).fillna(0)
    
    for column in merge_columns:
        dataset[column] = (dataset['t_'+column] == dataset['c_'+column]).astype('int')
        
    for column in categorical_columns:
        dataset[column] = dataset[column].astype('category')
    
    dataset = dataset[features] 
#     dataset = pd.get_dummies(dataset[features])
#     dataset = dataset.drop(encoded_columns, axis=1)
    
    trainset = trainset[[target]].join(dataset)
    testset = testset[[]].join(dataset)
    
    return trainset, testset

In [4]:
trainset = pd.read_csv('data/train/train_feature.csv', index_col='id', parse_dates=['start_date','end_date'])
trainset.head()

,redemption_status,campaign_id,coupon_id,customer_id,campaign_type,start_date,end_date,duration,age_range,marital_status,...,max_total_discount_pq,mean_total_discount_pq,transc_coupon,transc_other,transc_any,quantity,c_transc_coupon,c_transc_other,c_transc_any,c_quantity
id,,,,,,,,,,,,,,,,,,,,,
1,0,13,27,1053,0,2013-05-19,2013-07-05,47,46-55,Single,...,NaN,NaN,0.000000,0.561798,0.561798,29273,0.0,0.0,0.0,0
2,0,13,116,48,0,2013-05-19,2013-07-05,47,36-45,Married,...,NaN,NaN,0.028986,0.507246,0.536232,75,0.0,0.0,0.0,0
6,0,9,635,205,1,2013-03-11,2013-04-12,32,46-55,Married,...,NaN,NaN,0.081481,0.503704,0.529630,372,0.0,0.0,0.0,0
7,0,13,644,1050,0,2013-05-19,2013-07-05,47,NaN,NaN,...,NaN,NaN,0.000000,0.524590,0.524590,69,0.0,0.0,0.0,0
9,0,8,1017,1489,0,2013-02-16,2013-04-05,48,46-55,Married,...,NaN,NaN,0.000000,0.514085,0.514085,37064,0.0,0.0,0.0,0

In [5]:
testset = pd.read_csv('data/test/test_feature.csv', index_col='id', parse_dates=['start_date','end_date'])
testset.head()

,campaign_id,coupon_id,customer_id,campaign_type,start_date,end_date,duration,age_range,marital_status,rented,...,max_total_discount_pq,mean_total_discount_pq,transc_coupon,transc_other,transc_any,quantity,c_transc_coupon,c_transc_other,c_transc_any,c_quantity
id,,,,,,,,,,,,,,,,,,,,,
3,22,869,967,0,2013-09-16,2013-10-18,32,36-45,Single,0.0,...,0.0,-17.81,0.032028,0.473310,0.483986,15405,0.0,0.5,0.5,2
4,20,389,1566,1,2013-09-07,2013-11-16,70,26-35,Married,0.0,...,0.0,-17.63,0.004967,0.458609,0.461921,65687,0.0,0.5,0.5,2
5,22,981,510,0,2013-09-16,2013-10-18,32,26-35,Single,0.0,...,NaN,NaN,0.007792,0.490909,0.493506,31089,0.0,0.0,0.0,0
8,25,1069,361,1,2013-10-21,2013-11-22,32,18-25,Single,0.0,...,NaN,NaN,0.000000,0.517241,0.517241,21785,0.0,0.0,0.0,0
10,17,498,811,1,2013-07-29,2013-08-30,32,NaN,NaN,NaN,...,NaN,NaN,0.002288,0.473684,0.473684,544,0.0,0.0,0.0,0

In [6]:
trainset_ids = trainset[trainset.campaign_id < 24].index
validationset_ids = trainset[trainset.campaign_id > 24].index
trainset_ids.shape, validationset_ids.shape

((61151,), (17218,))

In [7]:
trainset, testset = preprocess(trainset, testset)

print("Trainset size: {}".format(trainset.shape))
print("Testset size: {}".format(testset.shape))

Trainset size: (78369, 44)
Testset size: (50226, 43)

In [8]:
feature_columns = features
# trainset, validationset = train_test_split(trainset, random_state=41, test_size=0.3)
validationset = trainset.loc[validationset_ids]
trainset = trainset.loc[trainset_ids]
validationset.shape, trainset.shape

((17218, 44), (61151, 44))

In [9]:
def train(features):
    X_train, y_train = trainset[features], trainset[target]
    X_val, y_val = validationset[features], validationset[target]
    
    lgb = LGBMClassifier(random_state=41, n_jobs=4)
    lgb.fit(X_train, y_train, eval_metric='auc')
    y_pred = lgb.predict_proba(X_val)[:,1]
    
    score = roc_auc_score(y_val, y_pred)
    return score, lgb

def exclude_feature(features, index):
    new_features = features[:index] + features[index+1:]
    score, model = train(new_features)
    return score

In [10]:
all_score, all_model = train(feature_columns)
all_score

0.8624260743715015

Feature Verification

In [11]:
score_map = {name : (exclude_feature(feature_columns, index) - all_score) 
             for index, name in enumerate(feature_columns)}
score_map = sorted(score_map.items(), key=operator.itemgetter(1), reverse=True)
score_map

[('income_bracket', -0.0003185189832488611),
 ('no_of_children', -0.0008558186822644753),
 ('mean_coupon_discount', -0.0012453877754130538),
 ('c_brand_freq', -0.0013907053586798002),
 ('c_brand_type_freq_count', -0.003246855965608586),
 ('c_category_rare_count', -0.003287341122570231),
 ('mean_other_discount', -0.0034597381816856565),
 ('t_brand_freq_count', -0.0036240918321330806),
 ('t_category_freq_count', -0.003945291951604646),
 ('t_brand_type_freq', -0.004020095652215949),
 ('category_freq', -0.004120638260564746),
 ('category_rare', -0.004876718675347114),
 ('t_category_count', -0.005427424055476027),
 ('brand_type_freq', -0.006004404570586708),
 ('c_transc_coupon', -0.006136048359117963),
 ('transc_other', -0.006809549778243218),
 ('c_category_freq_count', -0.008153871480271468),
 ('brand_type_rare', -0.008250928611530872),
 ('t_brand_type_rare_count', -0.008489549735344992),
 ('c_brand_rare', -0.008696801565354573),
 ('t_category_rare_count', -0.009140261496578206),
 ('mean_coupon_discount_pq', -0.009164927949826374),
 ('marital_status', -0.009562808565265035),
 ('mean_selling_price', -0.009590692381980404),
 ('mean_total_discount_pq', -0.009897146252227373),
 ('c_brand_freq_count', -0.009919399682875252),
 ('c_brand_type_rare', -0.009944602363368027),
 ('mean_selling_price_pq', -0.009964978998660001),
 ('t_item_id_count', -0.010171694601424974),
 ('t_brand_type_freq_count', -0.01134120622173751),
 ('mean_other_discount_pq', -0.011756782336245664),
 ('transc_any', -0.012219278334649863),
 ('c_transc_other', -0.01303675676893068),
 ('c_transc_any', -0.013657707918092399),
 ('c_brand_type_freq', -0.013944857607536387),
 ('mean_total_discount', -0.014986210916407061),
 ('t_brand_count', -0.016533494630488477),
 ('t_brand_rare', -0.01851646298074794),
 ('c_brand_rare_count', -0.019272543395530417),
 ('transc_coupon', -0.01988732793138015),
 ('duration', -0.020300491023287903),
 ('c_quantity', -0.02125899722287916),
 ('customer_id', -0.06127710025465438)]

In [12]:
X_test = testset[feature_columns]
testset[target] = all_model.predict_proba(X_test)[:,1]

submission = testset[[target]]
submission.to_csv('data/report/report_1.csv')