In [1]:
import pandas as pd
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import roc_auc_score
import operator

In [2]:
target = 'redemption_status'

features = ['campaign_type', 'duration', 'marital_status', 'rented', 'family_size', 'no_of_children', 'income_bracket', 'c_brand_count', 'c_brand_freq', 'c_brand_rare', 'c_brand_freq_count', 'c_brand_rare_count', 'c_brand_type_freq', 'c_brand_type_rare', 'c_brand_type_rare_count', 'c_category_freq_count', 'c_category_rare_count', 't_item_id_count', 't_brand_count', 't_brand_rare', 't_brand_freq_count', 't_brand_type_freq', 't_brand_type_freq_count', 't_brand_type_rare_count', 't_category_count', 't_category_rare', 't_category_freq_count', 't_category_rare_count', 'min_selling_price', 'max_selling_price', 'mean_selling_price', 'min_other_discount', 'max_other_discount', 'mean_other_discount', 'min_coupon_discount', 'max_coupon_discount', 'mean_coupon_discount', 'min_total_discount', 'max_total_discount', 'mean_total_discount', 'min_selling_price_pq', 'max_selling_price_pq', 'mean_selling_price_pq', 'min_other_discount_pq', 'max_other_discount_pq', 'mean_other_discount_pq', 'min_coupon_discount_pq', 'mean_coupon_discount_pq', 'min_total_discount_pq', 'mean_total_discount_pq', 'transc_coupon', 'transc_other', 'transc_any', 'quantity', 'c_transc_other', 'c_transc_any', 'c_quantity', 'brand_freq', 'brand_type_freq', 'brand_type_rare', 'category_rare']

categorical_columns = ['campaign_type', 'age_range', 'marital_status', 'rented', 'family_size', 'no_of_children', 'income_bracket', 'c_brand_freq', 'c_brand_rare', 'c_brand_type_freq', 'c_brand_type_rare', 'c_category_freq', 'c_category_rare', 't_brand_freq', 't_brand_rare', 't_brand_type_freq', 't_brand_type_rare', 't_category_freq', 't_category_rare', 'brand_freq', 'brand_rare', 'brand_type_freq', 'brand_type_rare', 'category_freq', 'category_rare']

merge_columns = ['brand_freq', 'brand_rare', 'brand_type_freq', 'brand_type_rare', 'category_freq', 'category_rare']

In [3]:
def preprocess(trainset, testset):        
    dataset = trainset.append(testset, sort=False).fillna(0)
    
    for column in merge_columns:
        dataset[column] = (dataset['t_'+column] == dataset['c_'+column]).astype('int')
        
    for column in categorical_columns:
        dataset[column] = dataset[column].astype('category')
    
    dataset = dataset[features] 
#     dataset = pd.get_dummies(dataset[features])
#     dataset = dataset.drop(encoded_columns, axis=1)
    
    trainset = trainset[[target]].join(dataset)
    testset = testset[[]].join(dataset)
    
    return trainset, testset

In [4]:
trainset = pd.read_csv('data/train/train_feature.csv', index_col='id', parse_dates=['start_date','end_date'])
trainset.head()

,redemption_status,campaign_id,coupon_id,customer_id,campaign_type,start_date,end_date,duration,age_range,marital_status,...,max_total_discount_pq,mean_total_discount_pq,transc_coupon,transc_other,transc_any,quantity,c_transc_coupon,c_transc_other,c_transc_any,c_quantity
id,,,,,,,,,,,,,,,,,,,,,
1,0,13,27,1053,0,2013-05-19,2013-07-05,47,46-55,Single,...,NaN,NaN,0.000000,0.561798,0.561798,29273,0.0,0.0,0.0,0
2,0,13,116,48,0,2013-05-19,2013-07-05,47,36-45,Married,...,NaN,NaN,0.028986,0.507246,0.536232,75,0.0,0.0,0.0,0
6,0,9,635,205,1,2013-03-11,2013-04-12,32,46-55,Married,...,NaN,NaN,0.081481,0.503704,0.529630,372,0.0,0.0,0.0,0
7,0,13,644,1050,0,2013-05-19,2013-07-05,47,NaN,NaN,...,NaN,NaN,0.000000,0.524590,0.524590,69,0.0,0.0,0.0,0
9,0,8,1017,1489,0,2013-02-16,2013-04-05,48,46-55,Married,...,NaN,NaN,0.000000,0.514085,0.514085,37064,0.0,0.0,0.0,0

In [5]:
testset = pd.read_csv('data/test/test_feature.csv', index_col='id', parse_dates=['start_date','end_date'])
testset.head()

,campaign_id,coupon_id,customer_id,campaign_type,start_date,end_date,duration,age_range,marital_status,rented,...,max_total_discount_pq,mean_total_discount_pq,transc_coupon,transc_other,transc_any,quantity,c_transc_coupon,c_transc_other,c_transc_any,c_quantity
id,,,,,,,,,,,,,,,,,,,,,
3,22,869,967,0,2013-09-16,2013-10-18,32,36-45,Single,0.0,...,0.0,-17.81,0.032028,0.473310,0.483986,15405,0.0,0.5,0.5,2
4,20,389,1566,1,2013-09-07,2013-11-16,70,26-35,Married,0.0,...,0.0,-17.63,0.004967,0.458609,0.461921,65687,0.0,0.5,0.5,2
5,22,981,510,0,2013-09-16,2013-10-18,32,26-35,Single,0.0,...,NaN,NaN,0.007792,0.490909,0.493506,31089,0.0,0.0,0.0,0
8,25,1069,361,1,2013-10-21,2013-11-22,32,18-25,Single,0.0,...,NaN,NaN,0.000000,0.517241,0.517241,21785,0.0,0.0,0.0,0
10,17,498,811,1,2013-07-29,2013-08-30,32,NaN,NaN,NaN,...,NaN,NaN,0.002288,0.473684,0.473684,544,0.0,0.0,0.0,0

In [6]:
trainset, testset = preprocess(trainset, testset)

print("Trainset size: {}".format(trainset.shape))
print("Testset size: {}".format(testset.shape))

Trainset size: (78369, 62)
Testset size: (50226, 61)

In [7]:
feature_columns = features
trainset, validationset = train_test_split(trainset, random_state=41, test_size=0.2)

In [8]:
def train(features):
    X_train, y_train = trainset[features], trainset[target]
    X_val, y_val = validationset[features], validationset[target]
    
    lgb = LGBMClassifier(random_state=41, n_jobs=4)
    lgb.fit(X_train, y_train, eval_metric='auc')
    y_pred = lgb.predict_proba(X_val)[:,1]
    
    score = roc_auc_score(y_val, y_pred)
    return score, lgb

def exclude_feature(features, index):
    new_features = features[:index] + features[index+1:]
    score, model = train(new_features)
    return score

In [9]:
all_score, all_model = train(feature_columns)
all_score

0.9231289649731436

Feature Verification

In [10]:
score_map = {name : (exclude_feature(feature_columns, index) - all_score) 
             for index, name in enumerate(feature_columns)}
score_map = sorted(score_map.items(), key=operator.itemgetter(1), reverse=True)
score_map

[('min_coupon_discount_pq', -0.00047812037307215505),
 ('t_category_count', -0.0006447708286050347),
 ('brand_freq', -0.0009964443579850712),
 ('min_total_discount_pq', -0.0023214343611193122),
 ('max_selling_price_pq', -0.002601562753298925),
 ('c_transc_other', -0.002874342098153071),
 ('mean_coupon_discount', -0.002915410303796495),
 ('max_other_discount', -0.003196835586680935),
 ('max_other_discount_pq', -0.0036585286774957204),
 ('c_brand_freq', -0.004469085367830639),
 ('income_bracket', -0.0045659198737693085),
 ('t_brand_type_freq', -0.004982221789925356),
 ('max_coupon_discount', -0.005090296015303308),
 ('mean_other_discount_pq', -0.0054525608187702135),
 ('c_brand_type_rare', -0.005870159625630977),
 ('t_category_freq_count', -0.005931545785645476),
 ('family_size', -0.0063387694668698424),
 ('mean_coupon_discount_pq', -0.0070122880394254405),
 ('c_category_freq_count', -0.007087075403387044),
 ('min_other_discount', -0.007210280020317983),
 ('c_brand_rare_count', -0.007435939002907177),
 ('no_of_children', -0.008229636114083227),
 ('brand_type_freq', -0.008252980146764788),
 ('max_selling_price', -0.008332955073544479),
 ('mean_total_discount', -0.008399528796377398),
 ('c_brand_freq_count', -0.008444919971036136),
 ('t_category_rare_count', -0.00849549870851296),
 ('marital_status', -0.008548671227398996),
 ('brand_type_rare', -0.00869867825222359),
 ('min_other_discount_pq', -0.008764387381253513),
 ('max_total_discount', -0.0087648196781549),
 ('min_coupon_discount', -0.008935576954252178),
 ('c_category_rare_count', -0.00925374747376495),
 ('mean_selling_price_pq', -0.009278820694052725),
 ('t_category_rare', -0.009492807660301139),
 ('min_selling_price', -0.009667023311610512),
 ('min_selling_price_pq', -0.00984469733813187),
 ('c_brand_count', -0.009965740470555207),
 ('t_brand_type_rare_count', -0.010061278085789382),
 ('transc_other', -0.010126554917917474),
 ('min_total_discount', -0.01022944158047745),
 ('c_transc_any', -0.010412303169817116),
 ('mean_other_discount', -0.010435647202498677),
 ('c_brand_rare', -0.010454668266165257),
 ('t_brand_rare', -0.011261334284386582),
 ('duration', -0.011263063471992574),
 ('quantity', -0.011315803693977111),
 ('c_brand_type_freq', -0.011375460666385728),
 ('campaign_type', -0.011845367398329198),
 ('c_quantity', -0.011959493780328234),
 ('c_brand_type_rare_count', -0.01245079920889669),
 ('t_brand_freq_count', -0.012693533919095557),
 ('t_brand_type_freq_count', -0.012767888986155551),
 ('t_item_id_count', -0.013307395519242537),
 ('mean_total_discount_pq', -0.013319499832485038),
 ('rented', -0.013901371461920053),
 ('t_brand_count', -0.014087259129570207),
 ('mean_selling_price', -0.01533573258113674),
 ('category_rare', -0.016675852975823968),
 ('transc_coupon', -0.020369829999243416),
 ('transc_any', -0.021295809962282086)]

In [11]:
X_test = testset[feature_columns]
testset[target] = all_model.predict_proba(X_test)[:,1]

submission = testset[[target]]
submission.to_csv('data/report/report_1.csv')